.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.partial_hide {
  opacity: 0.5
}

.hide{
  opacity: 0
}

.labelText{
  font: icon;
}
