body{
	font-family: "Fira Sans"
}

h4{
	text-align: center;
	padding-top: 35px;
	font-weight:bold;
	padding-bottom: 10px;'
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#header{
	background-color: #FFDAB9;
	padding: 40px;
}

nav{
	text-align: center;
	color: #5F5C5B;
	letter-spacing: 4px;
	font-weight:bold;
	font-size: 20px;
}

#stat{
	font-weight:bold;
	background-color: #8F3A841C;
	margin-bottom: 40px;
	margin-top: 40px;
	/*margin-left: 5px;*/
}

#titleStat{
	text-align: center;
	padding: 40px;
}


#periode{
	text-align: center;
}

#favCateg,#favVideo, #channelCateg{
	text-align: center;
	padding-bottom: 40px;
	font-weight:bold;
}

#codeD3GraphTen, #codeD3GraphFive, #codeD3CamFive, #codeD3CamTen {
	text-align: center;
	padding-top: 20px;
}

#codeD3{
	padding: 40px;
	margin-top: 10px;
	text-align: center;
}

#footer {
	text-align: center;
	padding: 40px;
	color : #5F5C5B;
	background-color: #FFDAB9;
}

.graph{
	text-align: center;
}
